/* root code */
:root{
    --primaryFont: Inter;
    --primaryColor: #30B868;
    --secondColor: rgba(249, 85, 85, 1);
}
/* Reset Code */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primaryFont);
}
.btn{
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 5px;
    color: white;
}
