/* root code */
:root{
    --primaryFont: Inter;
    --primaryColor: #30B868;
    --secondColor: rgba(249, 85, 85, 1);
    --textColor: #627382;
}
/* Reset Code */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primaryFont);
}
.btn{
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 5px;
    color: white;
}
/* Header Section Code Start Here */
header{
    
}
nav{
    width: 80%;
    margin: 0 auto;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div img{
        width: 120px;
        height: 55px;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        li{
            list-style: none;
            &:hover{
                text-decoration: underline;
            }
        }

    }
}
.nav-btn{
    background-color: var(--primaryColor);
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        background-color: #04875f;
    }
}
/* Hero Section Code Start */
#hero-container{
    height: 85vh;
    background-image: url("/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        width: 50%;
        color: white;
        font-size: 72px;
        font-weight: bold;
        line-height: 84px;
        text-align: center;
        margin-bottom: 16px;
        span{
            color: var(--primaryColor);
        }
    }
    p{
        color: white;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 24px;
        width: 45%;
        text-align: center;
    }
}
.early-access-btn-div{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 24px;
    background-color: white;
    padding: 6px 10px;
    border-radius: 50px;
    img{
        width: 16px;
        height: 16px;
    }
    h6{
        font-size: 16px;
        font-weight: 500;
        color: var(--primaryColor);
    }
}
.hero-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.hero-button-container button:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--primaryColor);
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
    img{
        width: 20px;
        height: 20px;
        color: white;
    }
}
.hero-button-container button:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    img{
        width: 20px;
        height: 20px;
        color: white;
    }
}
/* Header Section Code End Here */
 /* structure does section code start here */
 #structure-does{
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
 }
 .structure-does-container{
    text-align: center;
    margin-bottom: 32px;
    h2{
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 14px;
        text-transform: capitalize;
    }
    p{
        font-size: 16px;
        color: var(--textColor);
    }
 }
 .structure-does-card-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
 }
 .structure-single-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #eaeaea;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 6px rgb(197, 196, 196);
    img{
        margin-top: 32px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #F95555;
        padding: 12px;
    }
    h5{
        margin: 16px 0;
        font-size: 22px;
        font-weight: 600;
    }
    p{
        color: var(--textColor);
        font-size: 14px;
    }
 }
 /* structure does section code end here */

 /* solution section code start here */
#solution-container{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        margin-bottom: 65px;
}
.solution-img{
    max-width: 50%;
    
}
.solution-img img{
    max-width: 100%;
    border: 1px solid #e6e4e4;
    border-radius: 6px;
}
.solution-text-parent{
    width: 50%;
    h5{
        text-transform: uppercase;
        color: var(--primaryColor);
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 14px;
    }
    h2{
        font-size: 48px;
        font-weight: bold;
        line-height: 62px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: var(--textColor);
        margin-bottom: 36px;
    }
}
.solution-text-parent ul li{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
    font-size: 16px;
}
 /* solution section code end here */

 /* think more section code start here */
#think-more-container{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: #f7f6f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 60px 0;
    h3{
        font-size: 46px;
    }
    p{
        width: 50%;
        text-align: center;
        line-height: 24px;
        color: var(--textColor);
        font-size: 16px;
    }
}
.think-more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--primaryColor);
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    img{
        width: 20px;
        height: 20px;
        color: white;
    }
    &:hover{
        background-color: #04875f;
    }
}
 /* think more section code end here */


/* Responsive Code Start */
@media screen and (max-width: 1425px){
    #hero-container{
        h1{
        font-size: 60px;
        line-height: 65px;
    }
    p{
        width: 58%;
    }
    }

     .structure-does-container{
    h2{
        font-size: 35px;
    }
    p{
        font-size: 15px;
    }
 }

    .structure-single-card{
        padding: 24px;
        h5{
            font-size: 18px;
        }
    }
    .solution-text-parent{
        h5{
            font-size: 18px;
        }
        h2{
            font-size: 40px;
            line-height: 55px;
        }
        p{
            font-size: 15px;
            line-height: 24px;
        }
    }
    #think-more-container{
        h3{
            font-size: 35px;
        }
        p{
            width: 58%;
        }
    }
}