/* root code */
:root{
    --primaryFont: Inter;
    --primaryColor: #30B868;
    --secondColor: rgba(249, 85, 85, 1);
}
/* Reset Code */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primaryFont);
}
.btn{
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 5px;
    color: white;
}
/* Header Section Code Start Here */
header{
    
}
nav{
    width: 80%;
    margin: 0 auto;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div img{
        width: 120px;
        height: 55px;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        li{
            list-style: none;
            &:hover{
                text-decoration: underline;
            }
        }

    }
}
.nav-btn{
    background-color: var(--primaryColor);
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        background-color: #04875f;
    }
}

/* Header Section Code End Here */